<!DOCTYPE html>
<html>
<head>
  <title>Student Info Update Form</title>
</head>
<body>
  <h1>Student Additional Campuses</h1>
    <p>Click <a href="students/update_info">here</a> to update your campus</p>
</body>
</html>