<!DOCTYPE html>
<html>
<head>
  <title>Update Info Form</title>
</head>
<body>
  <h1>Update Form</h1>
    <form action= "/students" method="POST">
    Student Name:<input type="text" name="name"><br>
    Additional Campuses:<select name="campuses">
      <option value="SF">San Francisco</option>
      <option value="SD">San Diego</option>
      <option value="CHI">Chicago</option>
      <option value="SEA">Seattle</option>
      <option value="NYC">New York</option>
    </select>
    </form>

</body>
</html>
